stratum/
template-provider/bitcoin-sv2-tp-0.1.15/
template-provider/bitcoin-sv2-tp-0.1.15-x86_64-linux-gnu.tar.gz
template-provider/bitcoind.log
template-provider/SHA256SUMS
template-provider/SHA256SUMS.single
pool-build.log
jd-server-build.log
jd-client-build.log
translator-build.log
pool.log
jd-server.log
jd-client.log
translator.log
minerd.log
last_commit.txt
caddy
caddy.log